* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 60px;
}

.container {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    background-color: #fff; 
}


.header-title {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-left h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.header-left p {
    font-size: 18px;
    color: #555;
}

.nav-links {
    display: flex;
    gap: 15px; 
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.profile-section {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
    position: relative;
    max-width: 100%;
}

.profile-picture {
    width: 850px;
    height: 500px;
    border-radius: none;
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.007) 30%, #f5f5f5 90%), 
        url('IMG_2016n.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.about-section1 {
    text-align: left;
    max-width: 600px;  
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.388);
}

.about-section1 h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-section1 p {
    font-size: 1.1em;
    line-height: 1.6;
}


.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.button-group .btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

.button-group .btn:hover {
    transform: scale(1.1);
}

.btn.resume { background-color: #a8d080; }
.btn.Projects { background-color: #f6a56f; }
.btn.About { background-color: #7ac4d0; }
.btn.Contact { background-color: #d0d0d0; }

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    background-color: #333;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
}

.footer a:hover {
    color: #f1c40f;
}

@media screen and (max-width: 600px) {
    .profile-section {
        flex-direction: column;
        gap: 20px;
    }

    .profile-picture {
        width: 300px; 
        height: 300px;  
    }

    .about-section {
        width: 90%;  
        max-width: 100%;  
    }
}



h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    align-items: left;
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

.submit-btn {
    background-color: #f6a56f;
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #f6a56f;
}

@media screen and (max-width: 600px) {
    .contact-container {
        padding: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .submit-btn {
        padding: 12px 18px;
        font-size: 1rem;
    }
}

.button-group1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.button-group1 .btn {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

.button-group1 .btn:hover {
    transform: scale(1.1);
}

.btn.Azure { background-color: #a8d080; }
.btn.Python { background-color: #f6a56f; }
.btn.Java { background-color: #7ac4d0; }
.btn.JavaScript { background-color: #bd6262; }
.btn.HtmlCSS { background-color: #f4c542; }
.btn.ReactJS { background-color: #244c56; }
.btn.Contact { background-color: #f4b9bc; }


/* ===========================

Contact page styling */

/* Contact Section */
#contact {
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.contact-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-info,
.contact-form {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 48%;
    margin-bottom: 20px;
}

/* Contact Info Styling */
.contact-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
}

.contact-item {
    width: 100%;
    margin: 10px 0;
    background-color: #e8e8e8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 16px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}

.whatsapp-button {
    margin-top: 30px;
    text-align: center;
}

.whatsapp-btn {
    background-color: #25D366;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: #128C7E;
}

.whatsapp-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.whatsapp-btn span {
    font-weight: bold;
}

/* ============================
about me styling */

.about-section {
    padding: 40px;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.about-photo {
    flex: 1;
    max-width: 40%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #4CAF50;
}

.about-info {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-info h2 {
    font-size: 2.5em;
    color: #4CAF50;
    margin-bottom: 20px;
}

.about-info p {
    font-style: italic;
    padding-top: 10px;
    font-size: 1.2em;
    line-height: 1.8;
    color: #333;
}
/* resume */


.Resumecontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin: 30px auto;
    max-width: 1200px;
    padding: 20px;
}

/* Styling for each section */
.resume-section, .resume1 {
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 15%;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 48%;  
    
}


.resume-section h2, .resume1 h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.resume-section p, .resume1 p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}


button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}


